<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ url_for('index') }}"><i class="material-icons">home</i>Home</a>
        <a class="mdl-navigation__link" href="{{ url_for('button_list') }}"><i class="material-icons">home</i>Buttons</a>
        <a class="mdl-navigation__link" href="{{ url_for('product_list') }}"><i class="material-icons">shopping cart</i>Products</a>
        <a class="mdl-navigation__link" href="{{ url_for('cracha_list') }}"><i class="material-icons">payment</i>Rfid Tags</a>
        <a class="mdl-navigation__link" href="{{ url_for('location_list') }}"><i class="material-icons">map</i>Location</a>
        <a class="mdl-navigation__link" href="{{ url_for('user_list') }}"><i class="material-icons">face</i>Users</a>
    </nav>
</div>