<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
        <a class="mdl-navigation__link" href="{{ url_for('button_list') }}">Buttons</a>
        <a class="mdl-navigation__link" href="{{ url_for('product_list') }}">Products</a>
        <a class="mdl-navigation__link" href="{{ url_for('cracha_list') }}">Rfid Tags</a>
        <a class="mdl-navigation__link" href="{{ url_for('user_list') }}">Users</a>
    </nav>
</div>