body {
    background-color: beige;
}

.mdl-data-table {
    border: none;

}

.mdl-data-table > thead > tr > th {
    color: white;
    text-align: center;
    align-content: center;
    alignment: center;
}

.mdl-data-table > thead {
    background-color: gray;
}