body {
    background-color: beige;
}
.mdl-layout__header{
    background-color: #00c853;
}

#edit-card .mdl-card {
    margin-left: 10px;
}

#edit-card .mdl-card__title {
    background-color: orange;
}

#table-title {
    background-color: orange;
    align-content: center;
}

.mdl-data-table {
    border: none;

}

.mdl-data-table > thead > tr > th {
    color: white;
    text-align: center;
    align-content: center;
    alignment: center;
}

.mdl-data-table > thead {
    background-color: gray;
}