{% extends "base.html" %}
{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-offset-desktop mdl-cell--4-offset-tablet">
            <form action="{{ url_for('user_new') }}" method="post">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title"><h2 class="mdl-card__title-text">New User</h2></div>
                    <div class="mdl-card__actions mdl-card--border">

                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="username">Name</label>
                            <input type="text" id="username" name="username" class="mdl-textfield__input">
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <label class="mdl-textfield__label" for="rfid">Rfid</label>
                            <input type="text" id="rfid" name="rfid" class="mdl-textfield__input">
                        </div>
                        <input type="submit" value="Add"
                               class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                           href="{{ url_for('user_list') }}">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}